In [22]:
# 필요한 library 불러오기

import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.model_selection import cross_val_score
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [23]:
train = pd.read_csv('train.csv')

In [24]:
test = pd.read_csv('test.csv')

In [25]:
train.shape

(2952, 15)

> 데이터의 수 자체가 적음, 전처리가 중요

In [26]:
train.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

> 총 4개의 column에서 결측치 발생

In [27]:
test.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

> 총 4개의 column에서 결측치발생

> train에서는 결측치가 발생하지않은 column : `자격유형`

In [28]:
train_nunique = train.nunique()
train_nunique

단지코드                            423
총세대수                            351
임대건물구분                            2
지역                               16
공급유형                             10
전용면적                            679
전용면적별세대수                        403
공가수                              48
자격유형                             15
임대보증금                           957
임대료                             995
도보 10분거리 내 지하철역 수(환승노선 수 반영)      4
도보 10분거리 내 버스정류장 수               17
단지내주차면수                         355
등록차량수                           354
dtype: int64

In [29]:
#데이터 타입과 unique한 값의 갯수 보기
train_type_nunique = pd.DataFrame({
    'Data Type': train.dtypes,
    'Number of Unique Values': train.nunique()
})

train_type_nunique

                             Data Type  Number of Unique Values
단지코드                            object                      423
총세대수                             int64                      351
임대건물구분                          object                        2
지역                              object                       16
공급유형                            object                       10
전용면적                           float64                      679
전용면적별세대수                         int64                      403
공가수                            float64                       48
자격유형                            object                       15
임대보증금                           object                      957
임대료                             object                      995
도보 10분거리 내 지하철역 수(환승노선 수 반영)   float64                        4
도보 10분거리 내 버스정류장 수             float64                       17
단지내주차면수                        float64                      355
등록차량수                          float64                      354

> object이면서 nunique가 많은 값 : `공급유형`, `자격유형`, `지역`

In [30]:
# 지역 data 합치기

train.loc[train.지역.isin(['경기도','서울특별시']), '지역'] = '수도권(서울/경기)'
train.loc[train.지역.isin(['경상남도','울산광역시','부산광역시','대구광역시','경상북도']), '지역'] = '경상도'
train.loc[train.지역.isin(['전라남도','광주광역시','전라북도']), '지역'] = '전라도'
train.loc[train.지역.isin(['충청남도','충청북도','대전광역시','세종특별자치시']), '지역'] = '충청도'

test.loc[test.지역.isin(['경기도','서울특별시']), '지역'] = '수도권(서울/경기)'
test.loc[test.지역.isin(['경상남도','울산광역시','부산광역시','대구광역시','경상북도']), '지역'] = '경상도'
test.loc[test.지역.isin(['전라남도','광주광역시','전라북도']), '지역'] = '전라도'
test.loc[test.지역.isin(['충청남도','충청북도','대전광역시','세종특별자치시']), '지역'] = '충청도'

In [31]:
train['공급유형'].unique()

array(['국민임대', '공공임대(50년)', '영구임대', '임대상가', '공공임대(10년)', '공공임대(분납)',
       '장기전세', '공공분양', '행복주택', '공공임대(5년)'], dtype=object)

In [32]:
# train, test column rename : column명이 긴 것을 간결화
train.rename(columns={'도보 10분거리 내 지하철역 수(환승노선 수 반영)': '지하철수',
                      '도보 10분거리 내 버스정류장 수': '버스수'}, inplace=True)
test.rename(columns={'도보 10분거리 내 지하철역 수(환승노선 수 반영)': '지하철수',
                     '도보 10분거리 내 버스정류장 수': '버스수'}, inplace=True)


# 결측치 통일 : '임대료','임대보증금' 컬럼에서 '-' 값을 NaN으로 변경

for col in ['임대료', '임대보증금']:
    train[col] = train[col].replace('-', np.nan).astype(float)
    test[col] = test[col].replace('-', np.nan).astype(float)

# 해당 컬럼을 float64 타입으로 변환
train['임대료'] = train['임대료'].astype(float)
train['임대보증금'] = train['임대보증금'].astype(float)

# 해당 컬럼을 float64 타입으로 변환
test['임대료'] = test['임대료'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

# train - 버스수는 10으로, 지하철수는 0으로 결측치를 채움
train[train['지하철수'].isna()]['지역'].unique() # 충남, 대전, 경남으로 이 중에서 대전에만 지하철 운행 - 충남, 경남 0으로 채우기로 결정

# 대전광역시 단지코드 확인
nan_subway = train[(train['지역'] == '대전광역시') & (train['지하철수'].isna())]
nan_subway_codes = nan_subway['단지코드'].unique()
print(nan_subway_codes)
# 전국 LH아파트 단지정보와 비교하여 도보 10분 내 지하철 역 없는 것 확인, 0으로 채움

#대전광역시 동구 우암로 133  (주공삼성타운아파트)
# 대전광역시 중구 목중로39번길 35-14(목동) 대전목동 행복주택
# 버스도 전국 LH아파트 단지정보와 비교하여 [경상남도 양산시 물금읍 새실로 54(양산신도시엘에이치아파트5단지)] 10개 정도 도보로 가능함을 확인

train['버스수'].fillna(10, inplace=True)
train['지하철수'].fillna(0, inplace=True)

# test - 지하철수 0으로 결측치를 채움
test[test['지하철수'].isna()]['지역'].unique() # 충남, 대전으로 이 중에서 대전에만 지하철 운행 - 충남 0으로 채우기로 결정

# 대전광역시 단지코드 확인
nan_subway = test[(test['지역'] == '대전광역시') & (train['지하철수'].isna())]
nan_subway_codes = nan_subway['단지코드'].unique()
print(nan_subway_codes)
# 전국 LH아파트 단지정보와 비교하여 도보 10분 내 지하철 역 없는 것 확인, 0으로 채움 [대전광역시 동구 우암로 133  (주공삼성타운아파트), 대전광역시 중구 목중로39번길 35-14(목동) 대전목동 행복주택]]

test['지하철수'].fillna(0, inplace=True)

#자격유형 결측치 확인
test[test['자격유형'].isna()]

#C2411 자격유형 → 'A'
test[test['단지코드']=='C2411'] #C2411 자격유형이 모두 A로, 단순 결측치인 것으로 판단
test[test['단지코드']=='C2411']['자격유형'].fillna('A')

#C2253 자격유형 → 'C'
test[test['단지코드']=='C2253'] #자격유형 C, D를 구분하는 컬럼이 '임대건물구분'이라고 판단, 결측치는 임대건물구분이 아파트이기 때문에 자격유형 C로 채워넣음
test[test['단지코드']=='C2253']['자격유형'].fillna('C')

train.head()

[]
[]

<ipython-input-32-ccd230def84a>:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  nan_subway = test[(test['지역'] == '대전광역시') & (train['지하철수'].isna())]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버스수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상도,국민임대,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상도,국민임대,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0

In [33]:
train[train['지하철수'].isna()]['지역'].unique()

array([], dtype=object)

In [34]:
# 임대료 혹은 임대보증금이 NaN값인 행 필터링
missing_data = train[train['임대료'].isna() | train['임대보증금'].isna()]

# 모든 열에 대해 통계요약값과 누락 데이터 몇 행정도 표시
summary = missing_data.describe(include='all')
summary

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버스수,단지내주차면수,등록차량수
count,590,590.000000,590,590,590,590.000000,590.000000,590.000000,590,9.000000e+00,0.0,590.000000,590.000000,590.000000,590.000000
unique,39,NaN,2,5,5,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
top,C1439,NaN,상가,경상도,임대상가,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN
freq,45,NaN,562,325,562,NaN,NaN,NaN,569,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1236.922034,NaN,NaN,NaN,45.542356,7.984746,7.886441,NaN,1.842430e+08,NaN,0.288136,3.679661,313.910169,213.735593
std,NaN,652.934635,NaN,NaN,NaN,66.314353,45.403471,10.514231,NaN,3.962353e+07,NaN,0.453279,2.308343,293.986239,308.756185
min,NaN,370.000000,NaN,NaN,NaN,12.620000,1.000000,0.000000,NaN,8.744400e+07,NaN,0.000000,1.000000,65.000000,31.000000
25%,NaN,657.000000,NaN,NaN,NaN,26.250000,1.000000,1.000000,NaN,1.748880e+08,NaN,0.000000,2.000000,153.000000,94.000000
50%,NaN,1005.000000,NaN,NaN,NaN,31.840000,1.000000,2.000000,NaN,1.945620e+08,NaN,0.000000,3.000000,217.000000,127.000000
75%,NaN,1755.000000,NaN,NaN,NaN,37.950000,1.000000,9.000000,NaN,2.138630e+08,NaN,1.000000,4.000000,351.000000,189.000000
max,NaN,2428.000000,NaN,NaN,NaN,583.400000,590.000000,43.000000,NaN,2.164230e+08,NaN,1.000000,12.000000,1670.000000,2315.000000

> `임대건물구분`에서 대부분의 행이 '상가'로 분류되어 있습니다.

> `공급유형`은 대부분 '임대상가'입니다.

> `자격유형`은 모두 'D'입니다.

In [35]:
print("임대건물구분이 상가인 것의 임대료",train[train['임대건물구분'] == '상가']['임대료'].unique())
print("임대건물구분이 상가인 것의 임대보증금",train[train['임대건물구분'] == '상가']['임대보증금'].unique())
print("공급유형이 임대상가인 것의 임대료",train[train['공급유형']=='임대상가']['임대료'].unique())
print("공급유형이 임대상가인 것의 임대보증금",train[train['공급유형']=='임대상가']['임대보증금'].unique())
print("자격유형이 D인 것의 임대료",train[train['자격유형'] == 'D']['임대료'].unique())
print("자격유형이 D인 것의 임대보증금",train[train['자격유형'] == 'D']['임대보증금'].unique())

임대건물구분이 상가인 것의 임대료 [nan]
임대건물구분이 상가인 것의 임대보증금 [nan]
공급유형이 임대상가인 것의 임대료 [nan]
공급유형이 임대상가인 것의 임대보증금 [nan]
자격유형이 D인 것의 임대료 [nan]
자격유형이 D인 것의 임대보증금 [nan]

> 해당하는 조건을 해봤으나 모두 nan값이라 유의미한 결과를 도출할 수 없음

> 상가가 아닌 것의 데이터를 살펴보았습니다.

In [36]:
train[(train['임대료'].isna()) & (train['임대건물구분'] != '상가')]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버스수,단지내주차면수,등록차량수
2043,C1397,370,아파트,수도권(서울/경기),장기전세,23.32,51,9.0,A,87444000.0,NaN,0.0,3.0,1590.0,1595.0
2044,C1397,370,아파트,수도권(서울/경기),장기전세,46.79,4,9.0,A,174888000.0,NaN,0.0,3.0,1590.0,1595.0
2045,C1397,370,아파트,수도권(서울/경기),장기전세,46.91,69,9.0,A,174888000.0,NaN,0.0,3.0,1590.0,1595.0
2046,C1397,370,아파트,수도권(서울/경기),장기전세,51.96,24,9.0,A,194562000.0,NaN,0.0,3.0,1590.0,1595.0
2047,C1397,370,아파트,수도권(서울/경기),장기전세,51.99,80,9.0,A,194562000.0,NaN,0.0,3.0,1590.0,1595.0
2048,C1397,370,아파트,수도권(서울/경기),장기전세,59.93,142,9.0,A,216423000.0,NaN,0.0,3.0,1590.0,1595.0
2100,C1039,790,아파트,수도권(서울/경기),장기전세,51.32,126,13.0,A,187694000.0,NaN,0.0,3.0,673.0,645.0
2101,C1039,790,아파트,수도권(서울/경기),장기전세,59.88,49,13.0,A,213863000.0,NaN,0.0,3.0,673.0,645.0
2102,C1039,790,아파트,수도권(서울/경기),장기전세,59.94,75,13.0,A,213863000.0,NaN,0.0,3.0,673.0,645.0
2331,C1350,1401,아파트,충청도,공공분양,74.94,317,2.0,D,NaN,NaN,0.0,6.0,1636.0,2315.0
2332,C1350,1401,아파트,충청도,공공분양,74.94,137,2.0,D,NaN,NaN,0.0,6.0,1636.0,2315.0
2333,C1350,1401,아파트,충청도,공공분양,74.94,22,2.0,D,NaN,NaN,0.0,6.0,1636.0,2315.0
2334,C1350,1401,아파트,충청도,공공분양,84.94,164,2.0,D,NaN,NaN,0.0,6.0,1636.0,2315.0
2335,C1350,1401,아파트,충청도,공공분양,84.94,19,2.0,D,NaN,NaN,0.0,6.0,1636.0,2315.0
2336,C1350,1401,아파트,충청도,공공분양,84.96,26,2.0,D,NaN,NaN,0.0,6.0,1636.0,2315.0
2337,C1350,1401,아파트,충청도,공공분양,84.97,26,2.0,D,NaN,NaN,0.0,6.0,1636.0,2315.0
2547,C1326,1934,아파트,경상도,국민임대,24.72,472,43.0,H,NaN,NaN,0.0,4.0,1670.0,1153.0
2548,C1326,1934,아파트,경상도,국민임대,24.79,104,43.0,H,NaN,NaN,0.0,4.0,1670.0,1153.0
2549,C1326,1934,아파트,경상도,국민임대,26.83,590,43.0,H,NaN,NaN,0.0,4.0,1670.0,1153.0
2550,C1326,1934,아파트,경상도,국민임대,37.70,464,43.0,H,NaN,NaN,0.0,4.0,1670.0,1153.0
2551,C1326,1934,아파트,경상도,국민임대,46.94,304,43.0,H,NaN,NaN,0.0,4.0,1670.0,1153.0
2680,C1786,480,아파트,강원도,행복주택,16.91,156,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2681,C1786,480,아파트,강원도,행복주택,26.90,136,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,경상도,국민임대,29.17,238,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,경상도,국민임대,29.34,38,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,경상도,국민임대,37.43,220,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0

In [37]:
test[(test['임대료'].isna()) & (test['임대건물구분'] != '상가')]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버스수,단지내주차면수
76,C1006,1505,아파트,충청도,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
77,C1006,1505,아파트,충청도,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
79,C1006,1505,아파트,충청도,영구임대,52.74,6,27.0,D,NaN,NaN,2.0,5.0,428.0
1005,C2152,120,아파트,강원도,영구임대,24.83,66,9.0,C,NaN,NaN,0.0,1.0,40.0
1006,C2152,120,아파트,강원도,영구임대,33.84,54,9.0,C,NaN,NaN,0.0,1.0,40.0
1014,C1267,675,아파트,경상도,행복주택,16.94,50,38.0,L,NaN,NaN,0.0,1.0,467.0
1015,C1267,675,아파트,경상도,행복주택,26.85,66,38.0,L,NaN,NaN,0.0,1.0,467.0
1016,C1267,675,아파트,경상도,행복주택,26.85,8,38.0,L,NaN,NaN,0.0,1.0,467.0
1017,C1267,675,아파트,경상도,행복주택,36.77,126,38.0,L,NaN,NaN,0.0,1.0,467.0

> 장기전세주택이란 월 임대료를 지불하지 않고 전세계약 방식으로 공급되는 공공임대주택을 말합니다. [출처](https://www.mylawstory.com/5606/)

>그러므로 장기전세의 임대료는 0으로 바꿔주는 것이 맞습니다

In [38]:
#### 장기전세는 월 임대료를 지불하지않으므로 임대료 = 0 적용
train.loc[train['공급유형'] == '장기전세', '임대료'] = 0
test.loc[test['공급유형'] == '장기전세', '임대료'] = 0

> 전용면적과 임대료, 임대보증금이 높은 상관관계를 가지므로

> 공급유형이 상가가 아닌것들 중에 임대료와 임대보증금이 결측치인경우 지역별로 나눈 후 전용면적에 따른 회귀모델을 통해 임대료와 임대보증금의 결측치를 채워줍니다.

In [39]:
#train data 상가아닌 것 임대료, 임대보증금 회귀예측

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# 공급유형이 상가가 아닌 행만 남도록 필터링
train_non_store = train[train['공급유형'] != '상가']

# train_non_store 데이터의 지역명 확인
regions = train_non_store['지역'].unique()

# 예측값 저장을 위해 빈 리스트 생성
predicted_rent = [] #임대료 예측값 리스트
predicted_deposit = [] #임대보증금 예측값 리스트

# 지역을 기준으로 반복
for region in regions:
    region_data = train_non_store[train_non_store['지역'] == region].copy()

    # 임대료에 대한 회귀 모델 학습
    # 임대료 열에 결측값이 없는 데이터를 선택하고, 전용면적을 X, 임대료를 y로 사용
    X = region_data[~region_data['임대료'].isna()][['전용면적']]
    y = region_data[~region_data['임대료'].isna()]['임대료']
    if len(X) > 0:
        model_rent = LinearRegression()
        model_rent.fit(X, y)
        # 결측치 예측
        # 임대료 열에 결측치 있는 데이터 선택하여 전용면적을 X로 사용하여 임대료 예측
        X_missing_rent = region_data[region_data['임대료'].isna()][['전용면적']]
        if len(X_missing_rent) > 0:
            pred_rent = model_rent.predict(X_missing_rent)
            predicted_rent.extend(pred_rent)

    # 임대보증금에 대한 회귀 모델 학습
    # 임대보증금 열에 결측값이 없는 데이터를 선택하고, 전용면적을 X, 임대보증금를 y로 사용
    X = region_data[~region_data['임대보증금'].isna()][['전용면적']]
    y = region_data[~region_data['임대보증금'].isna()]['임대보증금']
    if len(X) > 0:
        model_deposit = LinearRegression()
        model_deposit.fit(X, y)
        # 결측치 예측
        X_missing_deposit = region_data[region_data['임대보증금'].isna()][['전용면적']]
        # 데이터가 존재하면 모델을 사용해 임대료를 예측하고 리스트에 추가하도록 함
        if len(X_missing_deposit) > 0:
            pred_deposit = model_deposit.predict(X_missing_deposit)
            predicted_deposit.extend(pred_deposit)

# train_non_store의 임대료와 임대보증금이 결측치인 것들을 채워넣음
missing_rent_indices = train_non_store[train_non_store['임대료'].isna()].index
for idx, value in zip(missing_rent_indices, predicted_rent):
    train.at[idx, '임대료'] = value

missing_deposit_indices = train_non_store[train_non_store['임대보증금'].isna()].index
for idx, value in zip(missing_deposit_indices, predicted_deposit):
    train.at[idx, '임대보증금'] = value

# 결측치 채워졌는지 확인
missing_values = train[train['공급유형'] != '상가'][['임대료', '임대보증금']].isnull().sum()

missing_values

임대료      0
임대보증금    0
dtype: int64

In [40]:
# test 데이터 공급유형이 상가가 아닌 것만 남도록 필터링
test_non_store = test[test['공급유형'] != '상가']

# 지역명 추출
regions = test_non_store['지역'].unique()

# 예측값 저장을 위해 빈 리스트 생성
predicted_rent = [] #임대료 예측값 저장 리스트
predicted_deposit = [] #임대보증금 예측값 저장 리스트

# 지역을 기준으로 반복문 돌림
for region in regions:
    region_data = test_non_store[test_non_store['지역'] == region].copy()

    # 임대료에 대한 회귀 모델 학습
    X = region_data[~region_data['임대료'].isna()][['전용면적']]
    y = region_data[~region_data['임대료'].isna()]['임대료']
    if len(X) > 0:
        model_rent = LinearRegression()
        model_rent.fit(X, y)
        # 결측치 예측
        X_missing_rent = region_data[region_data['임대료'].isna()][['전용면적']]
        # 데이터가 존재하면 모델을 사용해 임대료를 예측하고 리스트에 추가하도록 함
        if len(X_missing_rent) > 0:
            pred_rent = model_rent.predict(X_missing_rent)
            predicted_rent.extend(pred_rent)

    # 임대보증금에 대해서도 동일하게 회귀 모델 학습
    X = region_data[~region_data['임대보증금'].isna()][['전용면적']]
    y = region_data[~region_data['임대보증금'].isna()]['임대보증금']
    if len(X) > 0:
        model_deposit = LinearRegression()
        model_deposit.fit(X, y)
        # 결측치 예측
        X_missing_deposit = region_data[region_data['임대보증금'].isna()][['전용면적']]
        # 데이터가 존재하면 모델을 사용해 임대보증금을 예측하고 리스트에 추가하도록 함
        if len(X_missing_deposit) > 0:
            pred_deposit = model_deposit.predict(X_missing_deposit)
            predicted_deposit.extend(pred_deposit)

# test_non_store 결측치를 예측한 임대료와 임대보증금 값으로 채움
missing_rent_indices = test_non_store[test_non_store['임대료'].isna()].index
for idx, value in zip(missing_rent_indices, predicted_rent):
    test.at[idx, '임대료'] = value

missing_deposit_indices = test_non_store[test_non_store['임대보증금'].isna()].index
for idx, value in zip(missing_deposit_indices, predicted_deposit):
    test.at[idx, '임대보증금'] = value

# 결측치 채워졌는지 확인
missing_values = test[test['공급유형'] != '상가'][['임대료', '임대보증금']].isnull().sum()

missing_values

임대료      0
임대보증금    0
dtype: int64

- train에는 있는데 test에는 없는 값들이 존재함
---
- 장기전세, 공공임대(5년), 공공분양
- 자격유형 : B, F, O
- 단지코드

In [41]:
train['공급유형'].value_counts()

국민임대         1758
임대상가          562
행복주택          213
공공임대(10년)     205
영구임대          152
공공임대(50년)      31
공공임대(분납)       12
장기전세            9
공공분양            7
공공임대(5년)        3
Name: 공급유형, dtype: int64

In [42]:
test['공급유형'].value_counts()

국민임대         622
임대상가         177
행복주택         124
영구임대          45
공공임대(10년)     35
공공임대(50년)     13
공공임대(분납)       6
Name: 공급유형, dtype: int64

 - 장기전세, 공공임대(5년), 공공분양이 train에서만 존재함
 -- '공공'으로 시작하는 거끼리 묶고, 장기전세는 장기적으로 주택을 임대, 국민 임대 역시 장기 임대한다는 점에서 둘을 묶기로 결정

In [43]:
train.loc[train.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)','공공임대(50년)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'
test.loc[test.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)','공공임대(50년)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'

train.loc[train.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'
test.loc[test.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'

In [44]:
print(train['공급유형'].value_counts())
print('-----'*10)
print(test['공급유형'].value_counts())
#column값 차이 없는 것 확인

국민임대/장기전세             1767
임대상가                   562
공공임대(5년/10년/분납/분양)     258
행복주택                   213
영구임대                   152
Name: 공급유형, dtype: int64
--------------------------------------------------
국민임대/장기전세             622
임대상가                  177
행복주택                  124
공공임대(5년/10년/분납/분양)     54
영구임대                   45
Name: 공급유형, dtype: int64

In [45]:
train['자격유형'].value_counts()
# B- 21
# F -3
# O -1
# 데이터가 적어서 바로 앞의 자격 유형과 묶어도 무방할 것 같음

A    1801
D     569
H     155
J     114
C      95
I      49
E      37
K      33
L      33
N      30
B      21
G       9
F       3
M       2
O       1
Name: 자격유형, dtype: int64

In [46]:
# B,F,O 각 자격유형의 바로 앞 자격유형과 통합함
train['자격유형'] = train['자격유형'].apply(lambda x: 'A-B' if x in ['A', 'B'] else x)
test['자격유형'] = train['자격유형'].apply(lambda x: 'A-B' if x in ['A', 'B'] else x)

train['자격유형'] = train['자격유형'].apply(lambda x: 'E-F' if x in ['E', 'F'] else x)
test['자격유형'] = train['자격유형'].apply(lambda x: 'E-F' if x in ['E', 'F'] else x)

train['자격유형'] = train['자격유형'].apply(lambda x: 'N-O' if x in ['N', 'O'] else x)
test['자격유형'] = train['자격유형'].apply(lambda x: 'N-O' if x in ['N', 'O'] else x)

train['자격유형'].value_counts()

A-B    1822
D       569
H       155
J       114
C        95
I        49
E-F      40
K        33
L        33
N-O      31
G         9
M         2
Name: 자격유형, dtype: int64

> data type이 object인 것을 모두 인코딩(원-핫 인코딩 사용)

In [47]:
# '단지코드'를 제외하고 object인 열을 모두 원-핫 인코딩 진행

# 인코딩할 object 열을 식별
object_columns = train.select_dtypes(include=['object']).columns.tolist()
object_columns.remove('단지코드')  # '단지코드' 열은 제외하여 인코딩하지 않음

# train, test에 대해 원-핫 인코딩 진행
train_encoded = pd.get_dummies(train, columns=object_columns)
test_encoded = pd.get_dummies(test, columns=object_columns)

# 인코딩이 진행된 train 데이터의 열 확인
train_encoded.head()
train_encoded.columns

Index(['단지코드', '총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', '지하철수',
       '버스수', '단지내주차면수', '등록차량수', '임대건물구분_상가', '임대건물구분_아파트', '지역_강원도',
       '지역_경상도', '지역_수도권(서울/경기)', '지역_전라도', '지역_제주특별자치도', '지역_충청도',
       '공급유형_공공임대(5년/10년/분납/분양)', '공급유형_국민임대/장기전세', '공급유형_영구임대', '공급유형_임대상가',
       '공급유형_행복주택', '자격유형_A-B', '자격유형_C', '자격유형_D', '자격유형_E-F', '자격유형_G',
       '자격유형_H', '자격유형_I', '자격유형_J', '자격유형_K', '자격유형_L', '자격유형_M', '자격유형_N-O'],
      dtype='object')

In [48]:
# '임대건물구분'이 '상가'인 경우 '임대료', '임대보증금' 값을 drop
# '임대건물구분'이 '상가'가 아닌 경우는 drop없이 그대로 진행

train_store_data = train_encoded[train_encoded['임대건물구분_상가'] == 1].drop(columns=['임대료', '임대보증금'])
train_non_store_data = train_encoded[train_encoded['임대건물구분_상가'] != 1]

test_store_data = test_encoded[test_encoded['임대건물구분_상가'] == '1'].drop(columns=['임대료', '임대보증금'])
test_non_store_data = test_encoded[test_encoded['임대건물구분_상가'] != 1]

In [49]:
#인코딩이 진행된 train의 컬럼의 dtype 확인
train_encoded.dtypes

단지코드                        object
총세대수                         int64
전용면적                       float64
전용면적별세대수                     int64
공가수                        float64
임대보증금                      float64
임대료                        float64
지하철수                       float64
버스수                        float64
단지내주차면수                    float64
등록차량수                      float64
임대건물구분_상가                    uint8
임대건물구분_아파트                   uint8
지역_강원도                       uint8
지역_경상도                       uint8
지역_수도권(서울/경기)                uint8
지역_전라도                       uint8
지역_제주특별자치도                   uint8
지역_충청도                       uint8
공급유형_공공임대(5년/10년/분납/분양)      uint8
공급유형_국민임대/장기전세               uint8
공급유형_영구임대                    uint8
공급유형_임대상가                    uint8
공급유형_행복주택                    uint8
자격유형_A-B                     uint8
자격유형_C                       uint8
자격유형_D                       uint8
자격유형_E-F                     uint8
자격유형_G                       uint8
자격유형_H                       uint8
자격유형_I                       uint8
자격유형_J                       uint8
자격유형_K                       uint8
자격유형_L                       uint8
자격유형_M                       uint8
자격유형_N-O                     uint8
dtype: object

In [50]:
# '임대건물구분'이 상가인 경우에 피처와 타겟변수 분리
X = train_store_data.drop(['단지코드','등록차량수'], axis=1)  # 'target'은 예측하고자 하는 타겟 변수
y = train_store_data['등록차량수']

# 학습 데이터와 검증 데이터로 분리
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# 라쏘(Lasso), 릿지(Ridge), 엘라스틱넷(ElasticNet) 회귀 모델 학습
lasso = Lasso(alpha=1.0)
ridge = Ridge(alpha=1.0)
elastic_net = ElasticNet(alpha=1.0, l1_ratio=0.5)

lasso.fit(X_train, y_train)
ridge.fit(X_train, y_train)
elastic_net.fit(X_train, y_train)

# 검증 데이터에 대해 예측 수행
lasso_pred = lasso.predict(X_val)
ridge_pred = ridge.predict(X_val)
elastic_net_pred = elastic_net.predict(X_val)

from sklearn.metrics import mean_absolute_error

# 각 모델의 성능을 평균 절대 오차(MAE)로 평가
lasso_mae = mean_absolute_error(y_val, lasso_pred)
ridge_mae = mean_absolute_error(y_val, ridge_pred)
elastic_net_mae = mean_absolute_error(y_val, elastic_net_pred)

# 세 가지 모델의 MAE 최소값 선택
min_mae = min(lasso_mae, ridge_mae, elastic_net_mae)

# 세 가지 모델 중 MAE가 가장 낮은 모델을 최적의 모델로 선택
if min_mae == lasso_mae:
    best_model = lasso
    model_name = "Lasso"
elif min_mae == ridge_mae:
    best_model = ridge
    model_name = "Ridge"
else:
    best_model = elastic_net
    model_name = "ElasticNet"

print(f"Best Model: {model_name} with MAE: {min_mae}")

Best Model: Ridge with MAE: 50.36900171769573

In [51]:
# '임대건물구분'이 아파트 경우에 피처과 타겟 변수 분리
X = train_non_store_data.drop(['단지코드','등록차량수'], axis=1)  # 'target'은 예측하고자 하는 타겟 변수
y = train_non_store_data['등록차량수']

# 학습 데이터와 검증 데이터로 분리
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# 라쏘(Lasso), 릿지(Ridge), 엘라스틱넷(ElasticNet) 회귀 모델 학습
lasso = Lasso(alpha=1.0)
ridge = Ridge(alpha=1.0)
elastic_net = ElasticNet(alpha=1.0, l1_ratio=0.5)

lasso.fit(X_train, y_train)
ridge.fit(X_train, y_train)
elastic_net.fit(X_train, y_train)

# 검증 데이터에 대해 예측 수행
lasso_pred = lasso.predict(X_val)
ridge_pred = ridge.predict(X_val)
elastic_net_pred = elastic_net.predict(X_val)

from sklearn.metrics import mean_absolute_error

# 성능 평가 (MAE)
lasso_mae = mean_absolute_error(y_val, lasso_pred)
ridge_mae = mean_absolute_error(y_val, ridge_pred)
elastic_net_mae = mean_absolute_error(y_val, elastic_net_pred)

# 세 가지 모델 중 MAE가 가장 낮은 모델을 최적의 모델로 선택
min_mae = min(lasso_mae, ridge_mae, elastic_net_mae)

# min_mae와 같은 값을 가지는 모델을 best model로 선택
if min_mae == lasso_mae:
    best_model = lasso
    model_name = "Lasso"
elif min_mae == ridge_mae:
    best_model = ridge
    model_name = "Ridge"
else:
    best_model = elastic_net
    model_name = "ElasticNet"

print(f"Best Model: {model_name} with MAE: {min_mae}")

Best Model: Ridge with MAE: 142.80993818171999

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_ridge.py:216: LinAlgWarning: Ill-conditioned matrix (rcond=9.3161e-19): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T